# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\clion_project\yolov8_onnxruntime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
